<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Time With M</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="main">
    <div class="box"><h3><%= days %></h3></div>
    <div class="box"><h3><%= months %></h3></div>
    <div class="box"><h3><%= years %></h3></div>
    <div class="box"><h3><%= remain %></h3></div>
</div>
</body>
</html>