.date-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.fecha {
    width: 100%;
    text-align: center;
}

@media (min-width: 640px) {
    .date-container {
        flex-direction: row;
    }

    .fecha {
        width: auto;
    }

}
